{% extends "home.html" %}
{% block content %}
<h4>Q1: Fetch incidents that happened in (Region) where target was (Target Type) between (Start Year) and (End Year)</h4>
<form method="POST" action="firestore">
    <label for="region">Region:</label>
    <select name="region" id="region" style="width: 200px;">)
        {% for region in regions %}
            <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
    </select>
    
    <label for="target">Target Type:</label>
    <select name="target" id="target" style="width: 200px;">
        {% for target in target_types %}
            <option value="{{ target }}">{{ target }}</option>
        {% endfor %}
    </select>
    
    <label for="start_year">Start Year:</label>
    <select name="start_year" id="start_year">
        {% for start_year in start_years %}
            <option value="{{ start_year }}">{{ start_year }}</option>
        {% endfor %}
    </select>
    
    <label for="end_year">End Year:</label>
    <select name="end_year" id="end_year">
        {% for end_year in end_years %}
            <option value="{{ end_year }}">{{ end_year }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Fetch Data" />
</form>
<!--Results-->
<ul>
  {% for dict in query1_dicts %}
    <li>{{ dict }}</li>
  {% endfor %}
</ul>

<p>----------------------------------------------------------------------------------------------------------------------------</p>

<h4>Q2: Fetch incidents that happened in (Region) where attack type was (Attack Type), in (The last x years)</h4>
<form method="POST" action="firestore">    
    <label for="region_q2">Region:</label>
    <select name="region_q2" id="region_q2" style="width: 200px;">
        {% for region_q2 in regions_q2 %}
            <option value="{{ region_q2 }}">{{ region_q2 }}</option>
        {% endfor %}
    </select>
    
    <label for="attack">Attack Type:</label>
    <select name="attack" id="attack" style="width: 200px;">
        {% for attack in attack_types %}
            <option value="{{ attack }}">{{ attack }}</option>
        {% endfor %}
    </select>

    <label for="years">The last x years:</label>
    <input type="number" name="years" id="years" style="width: 200px;" />
    
    <input type="submit" value="Fetch Data" />
</form>
<!--Results-->
<ul>
  {% for dict in query2_dicts %}
    <li>{{ dict }}</li>
  {% endfor %}
</ul>
<p>----------------------------------------------------------------------------------------------------------------------------</p>

<h4>Q3: Fetch incidents that happened in (Region) where target sub-type was (Target sub-type) and group name (Group name)</h4>
<form method="POST" action="firestore">    
    <label for="region_q3">Region:</label>
    <select name="region_q3" id="region_q3" style="width: 200px;">
        {% for region_q3 in regions_q3 %}
            <option value="{{ region_q3 }}">{{ region_q3 }}</option>
        {% endfor %}
    </select>
    
    <label for="target_sub_type">Target sub-type:</label>
    <select name="target_sub_type" id="target_sub_type" style="width: 200px;">
        {% for target_sub_type in target_sub_types %}
            <option value="{{ target_sub_type }}">{{ target_sub_type }}</option>
        {% endfor %}
    </select>

    <label for="group">Group name:</label>
    <select name="group" id="group" style="width: 200px;">
        {% for group in groups %}
            <option value="{{ group }}">{{ group }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Fetch Data" />
</form>
<!--Results-->
<ul>
  {% for dict in query3_dicts %}
    <li>{{ dict }}</li>
  {% endfor %}
</ul>
<p>----------------------------------------------------------------------------------------------------------------------------</p>

<h4>Q4: Fetch incidents that happened in (Country) where weapon was (Weapon Detail) between (Start Year) and (End Year)</h4>
<form method="POST" action="firestore">    
  <label for="country">Country:</label>
  <select name="country" id="country" style="width: 200px;">
      {% for country in countries %}
          <option value="{{ country }}">{{ country }}</option>
      {% endfor %}
  </select>
  
  <label for="weap">Weapon Detail:</label>
  <select name="weap" id="weap" style="width: 200px;">
      {% for weap in weaps %}
          <option value="{{ weap }}">{{ weap }}</option>
      {% endfor %}
  </select>

  <label for="start_year_q4">Start Year:</label>
  <select name="start_year_q4" id="start_year_q4">
      {% for start_year_q4 in start_years_q4 %}
          <option value="{{ start_year_q4 }}">{{ start_year_q4 }}</option>
      {% endfor %}
  </select>
  
  <label for="end_year_q4">End Year:</label>
  <select name="end_year_q4" id="end_year_q4">
      {% for end_year_q4 in end_years_q4 %}
          <option value="{{ end_year_q4 }}">{{ end_year_q4 }}</option>
      {% endfor %}
  </select>

  <input type="submit" value="Fetch Data" />
</from>  
<!--Results-->
<ul>
  {% for dict in query4_dicts %}
    <li>{{ dict }}</li>
  {% endfor %}
</ul>
<p>----------------------------------------------------------------------------------------------------------------------------</p>

<h4>Q5: Fetch incidents where damage done was (Damage done) from source (Database source)</h4>
<form method="POST" action="firestore">    
  <label for="db_source">Database source:</label>
    <select name="db_source" id="db_source" style="width: 200px;">
        {% for db_source in db_sources %}
            <option value="{{ db_source }}">{{ db_source }}</option>
        {% endfor %}
    </select>
    
    <label for="damage_done">Damage done:</label>
    <select name="damage_done" id="damage_done" style="width: 200px;">
        {% for damage_done in damage_dones %}
            <option value="{{ damage_done }}">{{ damage_done }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Fetch Data" />
</from>  
<!--Results-->
<ul>
  {% for dict in query5_dicts %}
    <li>{{ dict }}</li>
  {% endfor %}
</ul>
{% endblock %}
