{% extends "home.html" %}
{% block content %}
<form method="POST" action="/region_data">
    <label for="region">Region:</label>
    <select name="region" id="region">
        {% for region in regions %}
            <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
    </select>
    
    <label for="target">Target Type:</label>
    <select name="target" id="target">
        {% for target in target_types %}
            <option value="{{ target }}">{{ target }}</option>
        {% endfor %}
    </select>
    
    <label for="start_year">Start Year:</label>
    <select name="start_year" id="start_year">
        {% for start_year in start_years %}
            <option value="{{ start_year }}">{{ start_year }}</option>
        {% endfor %}
    </select>
    
    <label for="end_year">End Year:</label>
    <select name="end_year" id="end_year">
        {% for end_year in end_years %}
            <option value="{{ end_year }}">{{ end_year }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Filter Data" />
</form>
<!-- Below this is where the filtered table data will go -->
{{ table|safe }}
{% endblock %}

